<app-admin></app-admin>

<div class="container" style="position: relative;top: 100px;">
  <div style="font-size: 30px;">Summary of upload</div>
  <table class="table">
   
    <tbody>
      <tr>
        <td>Company Name</td>
        <td>Bangalore</td>
      </tr>
      <tr>
        <td>Stock Exchange</td>
        <td>Mumbai</td>
      </tr>
      <tr>
        <td>no of records Imported</td>
        <td>80</td>
      </tr>
      <tr>
        <td>period</td>
        <td>from date:    to date:</td>
      </tr>
    </tbody>
  </table>
</div>